.jumbotron h1 {
  text-align:center;
  font-family:optima;
  font-size: 150px;
  color: white;
  display: block;

  }

.jumbotron p {
  padding: 30px;
  font-family: serif
}

.
body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.jumbotron .btn {
  position: center;
}
.col-md-6 img {
  width: 100px;
  height: 100px;
  float: left;
}


}
.col-md-4 h3 {
  text-align: center;
}

.col-md-4 {
  padding-left: 2%;
  width:33%;
}
.row {
  margin: 2%
}

.jumbotron {
  margin-top: 5%;
  position: relative;
  width: 100%;
}

.brdrd {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.jumbotron img {
  width: 100%
}

.col-md-4 img {
  width:130px;
  height:130px;
  float: none;
}
